.style-item {
  display: flex;
  padding: 5px;
  height: 100px;
  width: 100px;

  img {
    padding: 0px 10px 0px 10px;
    border-radius: 50%;
  }
}

.style-item:hover {
  cursor: pointer;
  opacity: 0.7;
}