.overview-container {
  display: flex;
  margin: 40px auto;
  max-width: 80vw;

  .gallery-container {
    display: flex;
    width: 50vw;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    margin: 10px 30px auto;
  }
}
