.reviewsContainer {
    width: 85vw;
    height: 625px;
    box-sizing: border-box;
    border-top: 1px solid#dddada;
    border-bottom: 1px solid#dddada;
    margin: auto;
    padding: 10px;
}

#title-header {
    font-size: 20px;
    font-weight: bold;
}
