.rp-container {
  margin: 40px auto 40px;
  max-width: 70vw
}

.rp-container p {
  font-size: 20px;
  font-weight: bold;
}

.rp-container h3 {
  color: #595959;
  font-family: interstate black italic;
}

.rp-carousel-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  overflow: hidden;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
}

.rp-title{
  display: inline-block;
  width: 100%;
}

.arrow-container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-self: center;
}

.rp-arrowOff{
  color: rgba(104,104,104,0.3);
}

.rp-arrow-header{
  padding-top: 4px;
}

.rp-arrowOff:hover{
  cursor: auto;
}

.rp-arrowOn:hover{
  transform: scale(1.2);
}
