.reviewListContainer {
  width: 70%;
  height: 350px;
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 1em;
}

.reviewListFooter {
  width: 70%;
  float: right;
  padding: 1em;
  box-sizing: border-box;
}