.reviewFooter {
  font-size: 12px;
  margin: 1px;
}

.divider {
    display: inline-block;
    border-left: 1px solid black;
    height: 16px;
    vertical-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
}

.unclicked {
  border: none;
  font-size: 12px;
  text-decoration: underline;
}
.clicked {
  border: none;
  font-size: 12px;
  pointer-events: none;
  opacity: 50%;
}

.unclicked:hover {
  cursor: pointer;
  opacity: 0.7;
}

