.qna-answer-userName {
  opacity: 60%;
}

.qna-answer-utility-container {
  display: inline-flex;
}

.qna-answer-helpfulness{
  display: inline-block;
}

.qna-answer-utility-divider {
  display: inline-block;
  border-left: 1px solid black;
  height: 21px;
  vertical-align: bottom;
  margin-left: 20px;
  margin-right: 20px;
}

.buttonOn {
  background: none;
  border: none;
  font-size: 16px;
  text-decoration: underline;
  outline: none;
}

.buttonOff {
  background: none;
  border: none;
  font-size: 16px;
  pointer-events: none;
  opacity: 50%;
  outline: none;
}

.buttonOn:hover {
  background: none;
  cursor: pointer;
  opacity: 0.7;
}

.addAnswerButton {
  background: none;
  border: none;
  font-size: 16px;
  text-decoration: underline;
  box-sizing: border-box;
  padding: 0px;
}
