.question-utility-container {
  display: flex;
}

.question-identifier {
  font-weight: bold;
  padding-right: 15px;
}

.question-utility {
  display: inline-flex;
  flex: 0 1 100%;
  justify-content: space-between;
}

.question-body {
  display: inline-flex;
  font-weight: bold;
}
