.qna-answer-container {
  padding-top: 20px;
}

.qna-images-container {
  display: flex;
  padding: 20px 0px 20px;
}

.qna-answer-footerContainer {
  padding: 0px 0px 20px;
}

.qna-answer-userName {
  opacity: 60%;
}