.qna-list-container {
  margin-top: 10px;
  padding: 0px 10px 0px;
}

.qna-add-more-answers {
  margin: 5px 0px 10px 25px;
}

.textButton {
  background: none;
  border: none;
  font-size: 16px;
  text-decoration: underline;
  outline: none;
}

.textButton:hover {
  background: none;
  cursor: pointer;
  opacity: 0.7;
}

.qna-answer-container {
  display: flex;
}

.qna-answers-list {
  padding: 0px 0px 5px
}

.qna-question-answers {
  display: flex 0 1 0;
  max-height: 38vh;
  width: 100%;
  overflow: auto;
}

.answer-identifier {
  display: flex;
  font-weight: bold;
  padding-right: 15px;
}

