.qna-utility-container {
  display: inline-flex;
}

.qna-q-helpfulness{
  display: inline-block;
  border: 1px solid black;
}

.qna-add-answer-utility{
  display: inline-block;
}

.questionHelpfulClicked{
  background: none;
  border: none;
}

.qna-utility-divider {
  display: inline-block;
  border-left: 1px solid black;
  height: 21px;
  vertical-align: bottom;
  margin-left: 20px;
  margin-right: 20px;
}

.helpfulButtonOn {
  border: none;
  font-size: 16px;
  text-decoration: underline;
  outline: none;
}

.helpfulButtonOff {
  background: none;
  border: none;
  font-size: 16px;
  pointer-events: none;
  opacity: 50%;
  outline: none;
}

.helpfulButtonOn:hover {
  background: none;
  cursor: pointer;
  opacity: 0.7;
}

.addAnswerButton {
  border: none;
  font-size: 16px;
  text-decoration: underline;
  box-sizing: border-box;
  padding: 0px;
  outline: none;
}

.addAnswerButton:hover {
  cursor: pointer;
  opacity: 0.7;
}