.formContainer {
  padding: 10px;
  height: 500px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
}

button, input, select, textarea {
  font-family: inherit;
}

// :valid {
//   border: 1px solid black;
// }

// :invalid {
//   border: 1px solid red;
// }

.formInput {
  padding: 8px;
  box-sizing: border-box;
}