.qna-image {
  width: 80px;
  height: 80px;
  padding: 0px 5px 0px;
  border: none;
  outline: none;
}

.qna-image:hover {
  cursor: pointer;
}

.answer-image {
  border: 1px solid black;
  transition: .7s;
}

.answer-image:hover {
  opacity: 0.85;
  transform: scale(1.1);
}