.qna-image {
  width: 80px;
  height: 80px;
  padding-right: 20px;
  border: none;
  outline: none;
}

.answer-image {
  border: 1px solid black;
  transition: 0.3s;
}

.qna-image:hover {
  cursor: pointer;
}
