.size-quantity-container {
  display: flex;
  padding-top: 30px;
}

.selector {
  div::after{
    color: black;
  }

  select {
    font-size: 20px;
    border-radius: 0px!important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
  }
}
