.size-quantity-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 30px;

  div {
    padding-left: 0px;
  }
}

.selector {
  div::after{
    color: black;
  }

  select {
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px!important;
    height: 60px;
    border: 1px solid;
  }
}
