.qna-container {
  margin: 40px auto 40px;
  max-width: 70vw;
}

.qna-body {
  max-height: 40vw;
  padding: 0px 4px 0px;
  box-sizing: border-box;
  overflow-y: auto;
  scroll-behavior : smooth;
}

.qna-title {
  padding-bottom: 10px;
}

button.main-button {
  background-color: white;
  border: 1px solid black;
  color:black;
  height: 50px;
  outline: none;
  font-size: 16px;
  padding: 0px 25px 0px;
  margin: 0px 20px 0px;
}

button.main-button:hover {
  background-color: white;
  cursor: pointer;
  opacity: 0.7;
  outline: none;
}

.searchResult {
  font-size: 10px;
  height: 20px;
}
