.qna-container {
  margin: 40px auto;
  max-width: 80vw;
}

.qna-title {
  padding-bottom: 10px;
}

.qna-add-question-button {
  background-color: white;
  border: 1px solid black;
  color:black;
  height: 50px;
  width: 150px;
}

.qna-add-question-button:hover {
  cursor: pointer;
  opacity: 0.7;
}