.arrow {
  width: 50px;
  margin: 0px auto;

  :hover {
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: MoveUpDown 0.75s linear infinite;
    position: relative;
  }
}

.up {
  position: absolute;
  top: 2.5%;
  margin: 10px auto;
  align-self: center;
  img {
    transform: rotateY(180deg);
    -webkit-transform: rotate(180deg);
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
