.rp-carousel-container{
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  flex: 1 0 auto;
}

.rp-card-container{
  display:flex;
}

.re-related-arrow-forward{
  position: relative;
  margin: 0px;
  padding: 0px;
  left: -15px;
  top: 50px;
}

