.main-image {
  width: 100%; 
  height: 700px; 
}

.thumbnails-container {
  height: 700px;
  position: absolute;
  padding-left: 30px;
  padding-top: 30px;
  float: left;
  overflow: hidden;
  overflow-x: hidden;
}