// .factor-item {
//   flex-grow: 1;
//   width: 100%;
//   box-sizing: border-box;
// }

.chars-chart {
  background-color: #a5a5a5;
  opacity: .5;
  box-sizing: border-box;
  width: 100%;
  // padding: 2px;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid black;
}

.factor-descriptors {
  justify-content: space-between;
}

#right {
  text-align: right;
}

#middle {
  text-align: center;
}
