.inner-factor-chart {
  background-color: #909090;
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 55%;
  margin-top: 3px;
}

#triangle-down {
  width: 0;
  height: 0;
  z-index: 1;
  display: inline-block;
  position: relative;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 9px solid black;
  border-bottom: 9px solid black;
  background-color: #222;
}

.outer-factor-chart {
  position: relative;
}

.factor-item {
  width: 94%;
}

.factor-descriptors {
  padding-top: 2px;
}

.factor-heading {
  font-size: 11px;
  margin-top: 9px;
  margin-bottom: 2px;
}

.factor-descriptors {
  justify-content: space-between;
}

#right {
  text-align: right;
}

#middle {
  text-align: center;
}
