.qna-answer-modal {
  position: fixed;
  padding-top: 2%;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.qna-answer-modal-content {
  width: 100%;
  background-color: white;
  margin: auto;
  padding: 30px 35px 30px 30px;
  border: 1px solid white;
  max-width: 40%;
  border-radius: 20px;
}

.qna-answer-modal-content p {
  width: 100%;
  margin: 25px 0px 5px;
}

.qna-answer-modal-content input {
  width: 100%;
  font-size: 16px;
}

.qna-answer-button-container {
  padding: 15px 0px 0px;
}


.textFormField {
  width: 100%;
  height: 100px;
  font-size: 16px;
}

.formField-container {
  width: 100%;
  margin: 35px 0px 0px;
}

.fieldContainer{
  width: 100%;
}

.formField {
  width: 100%;
  margin: 5px 0px 0px;
}

.valid-field {
  width: 100%;
  margin: 20px 0px 0px;
  color: black;
}

.invalid-field {
  width: 100%;
  color: red;
}

.qna-answer-url {
  width: 100%;
  margin: 5px 0px 0px;
}
