.qna-answer-modal {
  position: fixed;
  z-index: 100;
  padding: 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.qna-answer-modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  width: 60%;
  border-radius: 20px;
}


.qna-answer-modal-content p {
  margin: 25px 0px 5px;
}

.qna-answer-modal-content input {
  width: 400px;
  font-size: 16px;
}

.qna-answer-button-container {
  padding: 15px 0px 0px;
}

.textFormField {
  width: 400px;
  height: 100px;
  font-size: 16px;
}

.formField-container {
  margin: 35px 0px 0px;
}

.formField {
  margin: 5px 0px 0px;
}

.valid-field {
  margin: 20px 0px 0px;
  color: black;
}

.invalid-field {
  margin: 20px 0px 0px;
  color: red;
}

.qna-answer-url {
  margin: 5px 0px 0px;
}
