.thumbnail {
  margin: 10px;
  width: 75px;
  height: 75px;
  border: 1px solid black;
  transition: transform .2s;
}

.thumbnail:hover {
  cursor: pointer;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
  box-shadow: 0px 0px 30px #fff;
}