body {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
}

p {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-family: interstate black italic;
}

h3 {
  color: #595959;
  font-family: interstate black italic;
}